body{
    background-color: rgb(32, 31, 31);
}

#card {
    display: flex;
    margin-left: 30%;
    margin-top: 30%;
}

#movies {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 4;
    grid-template-rows: 2;
}

#Waynes-World{
    padding: 5pt;
    width: 25%;
}

#Jurassic{
    padding: 5pt;
    width: 25%;
}

#Shining{
    padding: 5pt;
    width: 25%;
}

#HomeAlone{
    padding: 5pt;
    width: 25%;
}

#Hellraiser{
    padding: 5pt;
    width: 25%;
}

#Pretty-Woman{
    padding: 5pt;
    width: 25%;
}

#IT{
    padding: 5pt;
    width: 25%;
}

#Major-Payne{
    padding: 5pt;
    width: 25%;
}

#container{
    display: flex;
    columns: 2;
    align-content: center;
}

#contents{
   color: beige;
   background-color: rgb(32, 31, 31);
}

